<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h3>ショッピングカート</h3>
     <table class="table table-hover table-inverse">
    　 <thead>
        <tr class="table-secondary">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <%@cart_items.each do |cart_item| %>
         <tr>
           <td>
            <%= cart_item.item.name %>
           </td>
           <td>
            <%= cart_item.item.with_tax_price%>
           </td>
           <td>
            <%= cart_item.amount %>
           </td>
           <td>
            <%= cart_item.subtotal%>
           </td>
         </tr>
        </thead>
      </table>
      
      <table>
        <td>合計金額</td>
        <td><% @total +=cart_item.subtotal</td>
      </table>
        <%end%>
        

