<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-9 px-5 px-sm-0 mx-auto">
        <h2>商品一覧</h2>
        
        <div class="item-wrap">
          <% @items.each do |item| %>
        <div class="item-box">
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(200,200) %>
        <% end %>
        <div class="item-comment">
        <div><%= item.name %></div>
        <div><%=item.add_tax_price.to_s(:delimited) %>円</div>
    </div>
  </div>
<% end %>
</div>